body { 
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 16px; 
    /* line-height: 32px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategrey;
}
.wrapper{
    min-height: 100vh;
}
.lessons{
    margin: 2em 5em;
}

h1 {
    font-size: xx-large;
    color: whitesmoke;
}

h2 {
    font-size: x-large;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 0 auto;
    padding: .5rem; 
    max-width: 100%;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(64, 81, 107);
    color: whitesmoke;
}

header img {
    width: 20%;
    height: auto;
    float: right;
    border-radius: 2%;
}

footer {
    font-size: small;
}