@media only screen and (min-width: 35em) {

    /* changed to 35em, because one of the nav links didn't fit.. */
    /* ----------------------------------------HEAD----------------------------------------- */
    .logo {
        width: 100px;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a:hover {
        color: rgb(40, 160, 207);
        background-color: whitesmoke;
    }

    .navigation .active {
        background: none;
        color: #191919;
    }

    /* -----------------------------------------------HERO------------------------------------------ */
    .main-article {
        margin-bottom: 2em;
    }

    h2 {
        padding: 1em 0 0;
        text-align: center;
        font-size: xx-large;
    }

    p {
        font-size: large;
    }

    img {
        width: 100%;
        margin: 0;
    }

    .floating {
        width: 50%;
        margin: 0 0.5em;
        float: right;
    }

    main,
    .contactsection {
        margin: 0 12.5%;
    }

    /* ---------------------------------------FORECAST-------------------------------------------- */

    .forecast5 {
        display: inline;
    }

    .forecast5 h3 {
        text-align: center;
        margin-bottom: 1em;
    }

    table,
    th,
    td {
        border: 1px solid #333;
        box-shadow: 0 0 15px lightskyblue;
        border-collapse: collapse;
        padding: 5px;
        margin: 1em auto 2em;
        font-family: amaranth;
    }

    table img {
        box-shadow: none;
        width: 6em;
    }

    th {
        font-weight: 700;
        font-size: 13px;
        background-color: #eee;
    }

    td {
        background-color: #bed;
        font-size: 12px;
        text-align: center;
    }

    /* ------------------------------------------MAIN ARTICLE-------------------------------------------- */
    .main-article h3 {
        font-size: x-large;
    }

    /* ----------------------------------------- GALLERY --------------------------------------------- */

    .gallery {
        margin-top: 2em;
        margin-bottom: 1em;
        display: grid;
        grid-template-rows: repreat(3, 1fr);
        grid-template-columns: repeat(3, 30.9%);
        grid-gap: 10px;
        width: 79%;
        height: 90vh;
        text-align: center;
        font-family: 'lobster two';
    }
    .gallery img {
        box-shadow: none;
    }
    .gallery img:hover {
        box-shadow: 5px 5px 20px #191919;
    }
    .gallery img:active {
        transition: transform .5s ease;
        transform: scale(1.7);
    }
    /* ------------------------------------CONTACTS AND MAP---------------------------------------------- */
    .contactsection {
        background-color: antiquewhite;
        display: flex;
        align-content: center;
    }

    .map {
        display: none;
    }

    .mapimage {
        display: block;
        width: 50%;
        height: auto;
        float: right;

    }

    .contacts {
        padding: 2em 1em 0 0;
        font-size: 1em;
    }

    .contacts h3 {
        font-size: x-large;
    }

    /* ------------------------------------------------------------------------------------------------- */


    footer {
        width: 75%;
        margin: 0 12.5%;
    }



}