* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: whitesmoke;
}

/* ---------------------------------------HEADER------------------------------------------------- */
header {
  background-color: #191919;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.sitename {
  font-family: 'Chewy', cursive;
  color: #e87500;
}

.dry {
  color: #ff3838;
}

.motto {
  color: whitesmoke;
  font-family: 'Amaranth', sans-serif;
  font-size: 0.9rem;
}

.logo {
  width: 80px;
}

.logo,
.headings {
  vertical-align: middle;
  margin: 20px 10px;

}

/* -------------------------------------NAVIGATION------------------------------------------------ */

.navigation {
  list-style: none;
  text-align: center;
  background-color: #ff3838;
  display: flex;
  flex-direction: column;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: #fff;
  padding: .7rem;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
}

.navigation a:hover {
  color: #191919;
  background-color: #ff3838;
  font-weight: 700;
}

.responsive li {
  display: block;
}

.navigation .active {
  background-color: white;
  color: #e87500;
}

/* -------------------------Hedings & Paragraphs & Images---------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'lobster two', cursive;
  color: #ff3838;
}

h2 {
  padding: 0.5em;
  text-align: center;
}

p {
  font-family: 'Amaranth', sans-serif;
  text-align: left;
}

img {
  width: 95%;
  height: auto;
  margin: 2.5%;
  box-shadow: 5px 5px 20px #191919;
}

a img {
  box-shadow: none;
}

/* ----------------------------------WEATHER STATS----------------------------------------- */
.herodiv {
  margin: 10px auto;
  position: relative;
  font-weight: bold;
}

#statsheading {
  text-decoration-line: underline;
  color: orangered;
  padding-bottom: 0.2em;
  text-shadow: 1px 2px white;
  text-align: center;
}

.stats {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 1.5rem;
  border: 1px solid whitesmoke;
  background: lightskyblue;
  box-shadow: 10px 10px 30px whitesmoke;
  opacity: 0.7;
  color: black;
  font-size: 0.9em;
}

.stats p {
  color: whitesmoke;
  text-shadow: 1px 2px red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wstats {
  color: red;
  text-align: left;
  text-shadow: 1px 2px white;
}

.left {
  text-align: right;
  margin-right: 0.5em;
}

.forecast5 {
  display: none;
}

/* ---------------------------------------------------------------------------------------------- */
article {
  background-color: rgb(180, 241, 168);
  padding: 20px;
}

.author {
  font-weight: 700;
  padding-bottom: 10px;
}

.contactsection {
  background-color: antiquewhite;
  padding-bottom: 2em;
}

.contacts {
  padding: 2em;
  text-align: center;
}

/* ------------------------Social and Animation----------------------- */
.social {
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  animation: radial-pulse 1s infinite;
  margin: 0.5em;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 50, 100, 1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/* ---------------------------------------------------------------------- */
.mapimage {
  display: none;
}

.map {
  width: auto;
  height: 20em;
  margin: 0 2em;
  border: 1px solid #191919;
}

footer {
  background-color: #191919;
  color: whitesmoke;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 0em;
}

footer p {
  text-align: center;
}

/* ---------------------------------------GALLERY---------------------------------------------- */

.gallery {
  margin-top: 0.2em;
  margin-bottom: 3em;
  display: grid;
  width: 100%;
  height: 320vh;
}

.gallery p {
  display: none;
}

.gallery img {
  box-shadow: none;
}

#gallery {
  width: 100%;
  margin: 1.2em 0 0;
  text-align: center;
  font-size: x-large;
  font-family: 'lobster two';
  border: #191919 1px dashed;
  background-color: #191919;
  color: whitesmoke;
  padding: 0.1em 0;
}

#thankyou {
  margin: 1em 0;
  width: 100%
}

#thankyoupar {
  background-color: lightskyblue;
  color: #ff3838;
  text-shadow: 1px 2px whitesmoke;
  padding: 1em;
  margin: 0 0 3em 0;
  box-shadow: 5px 5px 20px #191919;
}

#thankyoupar p {
  font-size: large;
  text-align: center;
}

/* --------------------------------------- INPUT ----------------------------------------------- */
input::placeholder {
  color: #F56C6C;
  text-shadow: whitesmoke 1px 1px;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.8s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.8s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.8s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.8s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.8s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.8s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.8s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.8s ease;
}

form {
  margin-bottom: 2em;
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.2fr;
  background-color: rgb(233, 247, 247)
}

fieldset {
  border: #ff3838 4px double;
  display: flex;
  font-weight: bold;
  text-shadow: whitesmoke 2px 1px;
}

legend {
  font-size: large;
  font-family: Amaranth;
  color: #ff3838;
  text-shadow: none;
}

textarea {
  color: #191919;
  text-shadow: whitesmoke 1px 1px;
  font-size: large;
  font-family: 'lobster two';
  font-weight: bold;
  border-left: lightskyblue 5px solid;
}

#selectregion {
  background-color: #F56C6C;
  color: whitesmoke;
  font-weight: bold;
  font-size: larger;
  text-shadow: #191919 1px 1px;
}
.reg1 {
  color: #ff3838;
  font-weight: bold;
}
.reg {
  color: green;
  font-weight: bold;
  text-shadow: #fff 1px 1px;
}
input:invalid {
  color: #F56C6C;
  font-weight: bold;
}

input:valid {
  color: green;
  font-weight: bold
}

input[type=submit] {
  width: 100%;
  background-color: lightskyblue;
  color: #ff3838;
  text-shadow: whitesmoke 2px 1px;
  font-size: large;
  font-weight: bolder;
  font-family: Amaranth;
  padding: 0.3em 0;
}

input[type=submit]:hover {
  background-color: #ff3838;
  color: whitesmoke;
  text-shadow: black 1px 1px
}

input {
  border-left: lightskyblue 5px solid;
  padding: 5px;
  border-top: lightskyblue 1px solid;
  border-bottom: lightskyblue 1px solid;
  border-right: lightskyblue 1px solid;
}

#stormrating,
#selectregion,
#submitbutton {
  border: none;
}

#selectregion {
  padding: 3px;
  background-color: lightskyblue;
  color: whitesmoke;
  text-shadow: #ff3838 1px 1px;
}

#ratingvalue {
  color: green;
  margin-left: 1em;
}

#stormhead {
  width: 100%;
  margin: 1.2em 0 0;
  background-color: lightskyblue;
  color: whitesmoke;
  text-shadow: #ff3838 1px 2px;
  padding: 0.1em 0;
}

label {
  font-size: large;
  margin-top: 0.4em;
}

/* -------------------------------------INPUT RANGE----------------------------------------------- */
input[type=range] {
  -webkit-appearance: none;
  margin: 5.8px 0;
  background-color: transparent !important;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
  background: lightskyblue;
  border-radius: 21.6px;
  border: 1px solid lightskyblue;
}

input[type=range]::-webkit-slider-thumb {
  border: 1.8px solid whitesmoke;
  border-radius: 28px;
  background: #F56C6C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: lightskyblue;
}

input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
  background: lightskyblue;
  border-radius: 21.6px;
  border: 1px solid lightskyblue;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78);
  border: 1.8px solid rgba(0, 0, 6, 0.77);
  border-radius: 28px;
  background: #F56C6C;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: 43.2px;
  box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
}

input[type=range]::-ms-fill-upper {
  background: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: 43.2px;
  box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
}

input[type=range]::-ms-thumb {
  box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78);
  border: 1.8px solid rgba(0, 0, 6, 0.77);
  border-radius: 28px;
  background: #F56C6C;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: lightskyblue;
}

input[type=range]:focus::-ms-fill-upper {
  background: lightskyblue;
}

/* Track */
input[type=range]::-webkit-slider-runnable-track {
  height: 6.4px;
}

input[type=range]::-moz-range-track {
  height: 6.4px;
}

input[type=range]::-ms-track {
  height: 6.4px;
}

/* Thumb */
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 8px;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 8px;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 8px;
}
/* ----------------------------------------MAIN PAGE CONTENT---------------------------------------- */

